.main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px - 40px);
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    color: #4C4CFF;
    text-decoration: none;
}

.line{
    display: flex;
    align-items: center;
}